*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*contenedor padre*/
main{
    width: 90%;
    height: 60vh;
    border: 3px blue dashed;
    background-color: aquamarine;
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
}
.caja{
    border: 3px crimson solid;
    background-color: yellow;
}